# Churn Modelling 

tinyurl.com/ann-classify

## Data Preprocessing

Importing Libraries for Preprocessing

In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd


Step2- Import Dataset

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
x=dataset.iloc[:,3:13]

Credit scoring is a statistical analysis performed by lenders and financial institutions to access a person's creditworthiness. Credit scoring is used by lenders to help decide on whether to extend or deny credit. A person's credit score is a number between 300 and 850, 850 being the highest credit rating possible.

In [6]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71
6,822,France,Male,50,7,0.00,2,1,1,10062.80
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88
8,501,France,Male,44,4,142051.07,2,0,1,74940.50
9,684,France,Male,27,2,134603.88,1,1,1,71725.73
10,528,France,Male,31,6,102016.72,2,0,0,80181.12
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01
12,476,France,Female,34,10,0.00,2,1,0,26260.98
13,549,France,Female,25,5,0.00,2,0,0,190857.79
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81
19,726,France,Female,24,6,0.00,2,1,1,54724.03
20,732,France,Male,41,8,0.00,2,1,1,170886.17
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53
23,669,France,Male,46,3,0.00,2,0,1,8487.75
24,846,France,Female,38,5,0.00,1,1,1,187616.16
25,577,France,Male,25,3,0.00,2,0,1,124508.29
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95
27,571,France,Male,44,9,0.00,2,0,0,38433.35
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43
29,411,France,Male,29,0,59697.17,2,1,1,53483.21
...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02
9973,611,France,Male,27,7,0.00,2,1,1,157474.10
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78
9977,683,France,Female,32,9,0.00,2,1,1,24991.92
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40
9983,613,France,Male,40,4,0.00,1,0,0,151325.24
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41
9988,775,France,Male,30,4,0.00,2,1,0,49337.84
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52
9994,800,France,Female,29,2,0.00,2,0,0,167773.55
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [7]:
x=dataset.iloc[:,3:13].values

In [8]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [9]:
y=dataset.iloc[:,13].values

In [10]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [11]:
dataset.isnull()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9971,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9972,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9973,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9974,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9975,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9976,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9977,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9978,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9979,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9980,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9981,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9982,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9983,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9984,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9985,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9986,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9987,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9988,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9989,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9994,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

# Label Encoding 

<img src="https://ekababisong.org/assets/seminar_IEEE/LabelEncoder.png" width=1000 height=10500 />

Example 2 

<img src="https://raw.githubusercontent.com/WillKoehrsen/Machine-Learning-Projects/master/label_encoding.png" width=500 height=500 />

Step5-Encode categorical Text Variables

In [12]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
lb2=LabelEncoder()

In [13]:
x[:,1]

array(['France', 'Spain', 'France', ..., 'France', 'Germany', 'France'],
      dtype=object)

In [14]:
x[:,1]=lb.fit_transform(x[:,1])

In [15]:
x

array([[619, 0, 'Female', ..., 1, 1, 101348.88],
       [608, 2, 'Female', ..., 0, 1, 112542.58],
       [502, 0, 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 0, 'Female', ..., 0, 1, 42085.58],
       [772, 1, 'Male', ..., 1, 0, 92888.52],
       [792, 0, 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [16]:
x[:,2]=lb2.fit_transform(x[:,2])#if you have more than one more that one category of categorical variable then we have to do label encoding all at once

In [17]:
x

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

# one-hot encoding

<img src="https://i.imgur.com/mtimFxh.png" width=500 height=500 />

In [18]:
from sklearn.preprocessing import OneHotEncoder
oh=OneHotEncoder(categorical_features=[1])
x=oh.fit_transform(x).toarray()

In [19]:
x

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [20]:
x=x[:,1:]

In [21]:
x[1,:]

array([0.0000000e+00, 1.0000000e+00, 6.0800000e+02, 0.0000000e+00,
       4.1000000e+01, 1.0000000e+00, 8.3807860e+04, 1.0000000e+00,
       0.0000000e+00, 1.0000000e+00, 1.1254258e+05])

In [22]:
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Standard Scaling 

<img src="https://i.stack.imgur.com/PZgJ2.pngg" width=500 height=500 />

In [23]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()

x_train =sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [24]:
import keras
from keras.models import Sequential
from keras.layers import Dense

C:\Users\HP\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [25]:
keras.__version__

'2.2.4'

while using tensorflow we have to build our own activation function and every thing need to be done by the user but when it comes to keras all the activation functions and every thing will be built in and keras uses the backend power of tensorflow

In [26]:
model=Sequential()

In [27]:
x_train.shape

(7000, 11)

In [28]:
model.add(Dense(input_dim=11,init="random_uniform",activation='relu',output_dim=15))#input layer

WARNING:tensorflow:From C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=11, activation="relu", units=15, kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

In [29]:
model.add(Dense(output_dim=8,init="random_uniform",activation='relu'))#hidden layer

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=8, kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

In [30]:
model.add(Dense(output_dim=1,init='random_uniform',activation='sigmoid'))#output layer

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

# since it is a binary classification WE use binary cross entropy.if it is categorical then we ue categorical entropy

In [31]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])#adam=batch gradent descent

In [32]:
model.fit(x_train,y_train,epochs=50,batch_size=32)#epochs no of iteration

WARNING:tensorflow:From C:\Users\HP\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/50
7000/7000 [==============================] - 1s 139us/step - loss: 0.5714 - acc: 0.7951
Epoch 2/50
7000/7000 [==============================] - 0s 69us/step - loss: 0.4327 - acc: 0.7977
Epoch 3/50
7000/7000 [==============================] - 0s 63us/step - loss: 0.4261 - acc: 0.7977
Epoch 4/50
7000/7000 [==============================] - 1s 74us/step - loss: 0.4218 - acc: 0.7977
Epoch 5/50
7000/7000 [==============================] - 0s 63us/step - loss: 0.4174 - acc: 0.8166
Epoch 6/50
7000/7000 [==============================] - 0s 59us/step - loss: 0.4136 - acc: 0.8280
Epoch 7/50
7000/7000 [==============================] - 0s 60us/step - loss: 0.4102 - acc: 0.8310
Epoch 8/50
7000/7000 [==============================] - 0s 61us/step - loss: 0.4072 - acc: 0.8331
Epoch 9/50
7000/7000 [==============================] - 0s 62us/step - loss: 0.4046 - acc: 0.8339
Epoch 10/50
7000/7000 [==============================] - 0s 61us/step - loss: 0.4024 - acc: 0.8344
Epoch 11/50
7000/7000 [==============================] - 0s 62us/step - loss: 0.4008 - acc: 0.8346
Epoch 12/50
7000/7000 [==============================] - 0s 58us/step - loss: 0.3999 - acc: 0.8351
Epoch 13/50
7000/7000 [==============================] - 0s 62us/step - loss: 0.3986 - acc: 0.8359
Epoch 14/50
7000/7000 [==============================] - 0s 61us/step - loss: 0.3980 - acc: 0.8360
Epoch 15/50
7000/7000 [==============================] - 1s 73us/step - loss: 0.3970 - acc: 0.8369
Epoch 16/50
7000/7000 [==============================] - 0s 63us/step - loss: 0.3962 - acc: 0.8349
Epoch 17/50
7000/7000 [==============================] - 0s 59us/step - loss: 0.3952 - acc: 0.8366
Epoch 18/50
7000/7000 [==============================] - ETA: 0s - loss: 0.3986 - acc: 0.832 - 0s 58us/step - loss: 0.3950 - acc: 0.8349
Epoch 19/50
7000/7000 [==============================] - 0s 58us/step - loss: 0.3943 - acc: 0.8340: 0s - loss: 0.3977 - acc: 0.8
Epoch 20/50
7000/7000 [==============================] - 0s 58us/step - loss: 0.3935 - acc: 0.8383
Epoch 21/50
7000/7000 [==============================] - 0s 57us/step - loss: 0.3928 - acc: 0.8384
Epoch 22/50
7000/7000 [==============================] - 0s 60us/step - loss: 0.3919 - acc: 0.8360
Epoch 23/50
7000/7000 [==============================] - 0s 58us/step - loss: 0.3911 - acc: 0.8390
Epoch 24/50
7000/7000 [==============================] - 0s 58us/step - loss: 0.3903 - acc: 0.8409
Epoch 25/50
7000/7000 [==============================] - 0s 56us/step - loss: 0.3890 - acc: 0.8414
Epoch 26/50
7000/7000 [==============================] - 0s 58us/step - loss: 0.3863 - acc: 0.8431
Epoch 27/50
7000/7000 [==============================] - 0s 59us/step - loss: 0.3851 - acc: 0.8406
Epoch 28/50
7000/7000 [==============================] - 1s 75us/step - loss: 0.3830 - acc: 0.8440: 0s - loss: 0.3855 - acc: 0.8
Epoch 29/50
7000/7000 [==============================] - 0s 63us/step - loss: 0.3802 - acc: 0.8444
Epoch 30/50
7000/7000 [==============================] - 0s 65us/step - loss: 0.3773 - acc: 0.8446
Epoch 31/50
7000/7000 [==============================] - 0s 62us/step - loss: 0.3743 - acc: 0.8446
Epoch 32/50
7000/7000 [==============================] - 0s 57us/step - loss: 0.3716 - acc: 0.8437
Epoch 33/50
7000/7000 [==============================] - 0s 54us/step - loss: 0.3675 - acc: 0.8446
Epoch 34/50
7000/7000 [==============================] - 0s 59us/step - loss: 0.3635 - acc: 0.8457: 0s - loss: 0.3625 - acc: 0.846
Epoch 35/50
7000/7000 [==============================] - 0s 69us/step - loss: 0.3581 - acc: 0.8506
Epoch 36/50
7000/7000 [==============================] - 0s 65us/step - loss: 0.3523 - acc: 0.8550
Epoch 37/50
7000/7000 [==============================] - 0s 62us/step - loss: 0.3448 - acc: 0.8586
Epoch 38/50
7000/7000 [==============================] - 0s 57us/step - loss: 0.3400 - acc: 0.8603
Epoch 39/50
7000/7000 [==============================] - 0s 57us/step - loss: 0.3363 - acc: 0.8654
Epoch 40/50
7000/7000 [==============================] - 0s 53us/step - loss: 0.3349 - acc: 0.8647
Epoch 41/50
7000/7000 [==============================] - 0s 54us/step - loss: 0.3326 - acc: 0.8654
Epoch 42/50
7000/7000 [==============================] - 0s 58us/step - loss: 0.3312 - acc: 0.8644
Epoch 43/50
7000/7000 [==============================] - 0s 54us/step - loss: 0.3299 - acc: 0.8649
Epoch 44/50
7000/7000 [==============================] - 0s 56us/step - loss: 0.3302 - acc: 0.8689
Epoch 45/50
7000/7000 [==============================] - 0s 68us/step - loss: 0.3288 - acc: 0.8667
Epoch 46/50
7000/7000 [==============================] - 0s 62us/step - loss: 0.3289 - acc: 0.8686
Epoch 47/50
7000/7000 [==============================] - 0s 62us/step - loss: 0.3280 - acc: 0.8670
Epoch 48/50
7000/7000 [==============================] - 0s 61us/step - loss: 0.3285 - acc: 0.8661
Epoch 49/50
7000/7000 [==============================] - 0s 50us/step - loss: 0.3280 - acc: 0.8677
Epoch 50/50
7000/7000 [==============================] - 0s 51us/step - loss: 0.3277 - acc: 0.8667

In [33]:
y_pred = model.predict(x_test)

In [51]:
y_pred=(y_pred>0.5)

In [58]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [ True]])

In [52]:
y_test

array([0, 1, 0, ..., 0, 0, 1], dtype=int64)

In [53]:
y_p=model.predict(sc.transform(np.array([[0,1,100,1,25,8,115000,24,1,1,100000]])))

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [54]:
y_p

array([[1.]], dtype=float32)

In [55]:
y_p=(y_p>0.5)

In [56]:
y_p

array([[ True]])

In [57]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.855